# 特征缩放

在机器学习中进行梯度下降的时候，如果不同维度数据取值范围相差过大，就有可能会导致梯度下降的效率不高。
所以要进行特征缩放

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_table('./ex1data2.txt', header=None,delimiter=',', names=['size', 'num', 'price'])
data_oright =data

In [6]:
#最大最小归一化
for col in data.columns:
    data[col] = (data[col]-data[col].min()) / (data[col].max() - data[col].min())

data
# X, Y= np.meshgrid(data['size'],data['num'])
# Z = np.tile(data['price'],(47,1))
# # plt.contour(X,Y,Z)
# X,Y,Z
# # data

        size   num     price
0   0.345284  0.50  0.433962
1   0.206288  0.50  0.301887
2   0.426917  0.50  0.375660
3   0.155543  0.25  0.117170
4   0.592388  0.75  0.698113
5   0.312466  0.75  0.245283
6   0.188086  0.50  0.273585
7   0.158577  0.50  0.054904
8   0.145615  0.50  0.079434
9   0.177055  0.50  0.136981
10  0.300055  0.75  0.132262
11  0.316602  0.50  0.334151
12  0.286266  0.50  0.302074
13  1.000000  1.00  1.000000
14  0.114727  0.50  0.169811
15  0.399338  0.75  0.528302
16  0.129068  0.25  0.245283
17  0.105902  0.50  0.056604
18  0.484556  0.75  0.622826
19  0.600938  0.75  0.809623
20  0.252344  0.50  0.156604
21  0.285714  0.25  0.160566
22  0.207391  0.50  0.137736
23  0.306122  0.75  0.169811
24  0.837838  0.50  0.762264
25  0.068395  0.50  0.150943
26  0.167126  0.50  0.555849
27  0.461666  0.50  0.564340
28  0.371760  0.50  0.575660
29  0.492278  0.50  0.245283
30  0.272201  0.25  0.339623
31  0.040816  0.00  0.000000
32  0.327634  0.75  0.273585
33  0.630171  0.50  0.773585
34  0.264479  0.75  0.218868
35  0.161335  0.50  0.150943
36  0.106729  0.50  0.113208
37  0.353006  0.75  0.330377
38  0.927468  0.75  0.715283
39  0.361280  0.75  0.220943
40  0.223938  0.25  0.374717
41  0.382239  0.50  0.301887
42  0.472973  0.75  0.271887
43  0.095974  0.50  0.243585
44  0.000000  0.25  0.018868
45  0.275786  0.75  0.245283
46  0.096801  0.50  0.131321